[submodule "libmisc-java"]
	path = libmisc-java
	url = https://github.com/dev5cn/libmisc-java
[submodule "libmisc-cpp"]
	path = libmisc-cpp
	url = https://github.com/dev5cn/libmisc-cpp
[submodule "libxsc-proto-cpp"]
	path = libxsc-proto-cpp
	url = https://github.com/dev5cn/libxsc-proto-cpp
[submodule "libxsc-cpp"]
	path = libxsc-cpp
	url = https://github.com/dev5cn/libxsc-cpp
